	.uni-share{
			padding: 30upx 0;
			display: flex;
			align-items: center;
			background-color: #EEEEEE;
			border-radius: 20upx;
		}
		.uni-share>image{
			width: 200upx;
			margin-right: 30upx;
			border-radius: 14upx;
		}
		.uni-four{
			position: relative;
			overflow: hidden;
		}
		.uni-play{
			position: absolute;
			font-size: 100upx;
			color: #FFFFFF;
		}
		.uni-play-num{
			position: absolute;
			right: 20upx;
			bottom: 10upx;
			background:rgba(0,0,0,.8);
			width: auto;
			padding: 10upx 20upx;
			border-radius: 30upx;
			color: #FFFFFF;
			font-size: 20upx;
		}
		.uni-common-list{
			padding:20upx 20upx;
			height: auto;
		}
		.uni-common-list>image{
			width: 100upx;
			height: 100upx;
			border-radius: 50%; 
		}
		.un-common-list-right{
			width: 80%;
			padding: 0 20upx;
			/* border: 1px solid #000000; */
			border-bottom: 1upx solid #CCCCCC;
		}
		.un-common-list-right-two>view:first-child{
			color: #CCCCCC;
			font-size: 40upx;
			margin-right: 20upx;
		}
		.uni-one{
			width: auto;
			padding: 0 20upx;
			background-color: #007AFF;
			color: #FFFFFF;
			border-radius: 60upx;
		}
		.uni-one>view:first-child{
			margin-right: 10upx;
			font-size: 20upx;
		}
		.uni-two{
			background-color: #CCCCCC;
			border-radius: 0;
			color: #000000;
			float: right;
		}
		.uni-three{
			height: auto;
			font-size: 40upx;
		}
		.uni-four>image{
			width: 100%;
		}
		.un-common-list-right-three{
			font-size: 30upx;
			color: #CCCCCC;
			height: 80upx;
		}
		.uni-free{
			color: #CCCCCC;
		}
		.uni-free>view:first-child{
			margin-right: 10upx;
		}
		.uni-six-one{
			margin-left: 10upx;
		}
		.uni-six-one>view:first-child{
			margin-right: 10upx;
		}